    
    body{
        background-image: url("../arquivos/gif/background3.gif");
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    /* ------------------------------------------------------------------------------------------*/

   .icone{
    width: 5%;
   }

    
    